.searchWrapper {
  background-color: var(--bg-light);
  border-radius: 22px;
  height: 44px;
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 18px;
  padding-right: 5px;
  box-shadow: var(--shadow);
}

.searchWrapper div {
  height: 34px;
  width: 34px;
  background-color: var(--primary);
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-secondary);
  cursor: pointer;
}

.icon {
  fill: var(--bg-light);
  height: 16px;
  width: 16px;
}

.searchWrapper input {
  height: 44px;
  padding: 0;
  border: 0;
  color: var(--text);
  background-color: var(--bg-light);
  font-size: 16px;
  width: calc(100% - 34px);
  font-family: 'Archivo-Regular';
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.searchWrapper input:focus {
  outline: none;
}