.header {
  width: 100%;
  height: 95px;
  background-color: var(--text);
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 67px;
  padding: 0 10px;
}

.menuLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.headerEmptySpace {
  height: 28px;
  width: 100%;
}

.header h1 {
  color: var(--bg-light);
  font-weight: 600;
}

.button {
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 24px;
  width: 24px;
  fill: var(--bg-light);
}

.headerExclude {
  width: 100%;
  height: 56px;
  border-radius: 28px;
  margin-top: -28px;
  background-color: var(--bg-dark);
  margin-bottom: -56px;
}