.recipeCard {
  padding: 10px;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  min-width: 179px;
  max-width: min-content;
  border-radius: 20px;
  gap: 7px;
}

.recipeCard img {
  border-radius: 10px;
}

.recipeInfo {
  padding-left: 6px;
  display: flex;
  flex-direction: column;
  gap: 4px
}

.recipeInfo h2 {
  font-weight: bold;
}