@media (prefers-color-scheme: light) {
  :root {
    --bg-dark: hsl(0 0% 90%);
    --bg: hsl(0 0% 95%);
    --bg-light: hsl(0 0% 100%);
    --text: hsl(0 0% 5%);
    --text-muted: hsl(0 0% 30%);
    --primary: hsl(190 100% 62);
    --secondary: hsl(190 100% 52);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-dark: hsl(0 0% 0%);
    --bg: hsl(0 0% 5%);
    --bg-light: hsl(0 0% 10%);
    --text: hsl(0 0% 95%);
    --text-muted: hsl(0 0% 70%);
    --primary: hsl(190 100% 42);
    --secondary: hsl(190 100% 20);
  }
}

body {
  background-color: var(--bg-dark);
}

p, i {
  color: var(--text-muted);
  font-family: 'Archivo-Regular';
  margin: 0;
}

button, button i {
  color: var(--text);
  font-family: 'Archivo-Regular';
}

h1, h2, h3, h4, h5 {
  color: var(--text);
  font-family: 'ClashDisplay-Variable';
  margin: 0;
}